<!DOCTYPE html>
<!--
Enterprise Java Development - Assignment 4
Due December 15th 2021       
Authors: Camila Barbosa 192622796, Nicholas Carvalho 991634372
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    </head>
    <body>
        <div>Add Review</div><br/>
        
        <form action="/save_review" method="post"><br/><br/>
                <input type="hidden" th:value="${selectedBook.id}" name="bookId"/>
                <span class="span">Title:</span> 
                <span th:text="${selectedBook.title}"/><br/>
                
                <span>Authors:</span>
                <span th:text="${selectedBook.authors}"/> <br/><br/>
            
                <label for="review">Review</label>
                <input type="text" id="review" name="review"/><br/><br/>

            
                <input type="submit" class="button" value="Save"/>
                <a class="cancelButton" href="/main_page">Cancel </a>

        </form>

    </body>
</html>
